.fullscreen {
    height: 100%;
    display: block;
}

#main {
    float: left;
    width: 40%;
}

#lessonlist {
    margin: 5em 5em 5em 5em;
    float: left;
    width: 40%;
}

.message_hidden {
    display: none;
    visibility: hidden;
}

.half {
    overflow: hidden;
    width: 45%;
    float: left;
    margin: auto;
    padding: 1em 1em 1em 1em;
}

.textbook{
    height: 96vh;
    background-color: #EEE;
}

.success_code{
    background-color: #CFC;
}

.fail_code{
    background-color: #FCC;
}

